@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: "inter";
    color: white;
}

:root {
    --bg-url:#181824;
    --bg-card:#1F2128;
    --border-card: #6C5DD3;
    --txt-color: #FFFFFF;
}

html {
    scroll-behavior: smooth;
}

.section {
    background: var(--bg-url);
    height: 120vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


#container_first {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 32px;

    justify-content: center;
    align-items: center;
}

h1, h3 {
    font-family: "inter", sans-serif;
    color: var(--txt-color);
}

/* links midia */

#links_midia {
    padding: 2px;
    width: auto;

    display: flex;
    flex-direction: row;
    gap: 8px;
}

.midia_link {
    height: 40px;
    width: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--bg-card);
    backdrop-filter: blur(10px);
    border: 1px solid #ddd;
    border-radius: 20%;

    transition: all 0.4s ease-in-out;
}

/* imgs icon */
.pictures {
    height: 24px;
    width: 24px;
}

/* link conteudo */

#links_conteudo {
    display: flex;
    gap: 16px;
}

.link_conteudo {
    border: 1px solid #6C5DD3;
    padding: 16px;
    border-radius: 8px;
    border-color: #6C5DD3;
    font-weight: 700;

    transition: all 0.3s ease-in;
}

.link_conteudo p {
    font-size: 16px;
}

#txt_link_cont {
    color: #6C5DD3;
    transition: all 0.3s ease-in;
}

#bntzap {
    box-shadow: none;
    background-color: rgba(158, 46, 202, 0.1);

    position: relative;
    z-index: 1;

    border-radius: 8px;
}

#bntzap::after {
    content: "";
    position: absolute;

    top: 0;
    left: 0;

    width: 0;
    height: 100%;

    border-radius: 8px;

    background:rgba(127, 186, 122, 0.7);

    transition:0.4s ease-in;

    z-index: -1;
}

#modal {
    width: 100%;
    height: 100%;
    position: fixed;
    display: none;

    justify-content: center;
    align-items: center;

    top: 0;
    left: 0;

    background-color: rgb(32, 3, 117, 0.6);
    backdrop-filter: blur(1px);
    z-index: 1;
}

#modal_conteudo {
    width: auto;
    height: auto;
    padding: 24px;
    z-index: 3;
    border-radius: 8px;
    background-color: rgb(32, 3, 117);
}

#modal_conteudo p {
    font-size: 1em;
    font-weight: 700;
    padding: 24px;

    color: #ddd;
}

#btn_gowhats {
    padding: 8px;
    border-radius: 4px;
    background-color: #411a7f;
    border: 1px solid #ddd;
    color: #ddd;

    backdrop-filter: blur(10px);

    transition: all 0.2s ease-in;
    cursor: pointer;
}

/* Section secundaria */

/* Título */
.section h1 {
    font-size: 3rem;
    margin-bottom: 40px;
}

/* Card */
.card {
    max-width: 800px;
    padding: 30px;

/* efeito vidro (glassmorphism) */
    background: var(--bg-card);
    border-radius: 15px;
    backdrop-filter: blur(10px);

/* borda suave */
    border: 1px solid var(--border-card);

    transition: all 0.3s ease-in;
}

/* Texto */
.card p {
    font-size: 1.2rem;
    line-height: 1.6;
}

/* habilidades */

/* Título */
.section h1 {
    font-size: 3rem;
    margin-bottom: 50px;
}

/* Grid */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    max-width: 100%;
    margin: 0 auto;
}

/* Título do card */
.card h2 {
    margin-bottom: 20px;
    font-size: 1.5rem;
}

/* Tags */
.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

/* Cada tecnologia */
.tags span {
    padding: 8px 14px;
    border-radius: 8px;

    background: var(--bg-card);
    font-size: 0.9rem;

    border: 1px solid var(--border-card);
}

#habilits .tags span {
    transition: all 0.2s ease-in;
}

/* terceira section */

/* Botão */
.btn {
    display: block;
    text-align: center;
    padding: 12px;
    margin-top: 16px;

    background: #ddd;
    color: #5f2cff;

    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;

    transition: all 0.2s ease-in;
}

/* footer */

.footer {
    height: 60vh;
    width: 100%;
    background-color: #0c0c11;

    display: flex;
    flex-direction: row;
    gap: 20%;

    padding-top: 12em;
    justify-content: center;

    position: relative;
}

.links {
    width: auto;

    display: flex;
    flex-direction: column;
    gap: 16px;

    align-items: start;
}

.links p, span{
    color: var(--txt-color);
}

.links span{
    transition: all 0.2s ease-in;
}

body a{
    display: flex;
}

#email{
    text-decoration: none;
    position: relative;
    margin-top: 12px;
}

#email::after {
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    background: white;
    left: 0;
    bottom: -2px;
    transition: 0.2s;
}

#nav_icons {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

#navegacao a {
    text-decoration: none;
}

#line_unline {
    width: 90%;
    height: 1px;
    border-radius: 50%;
    background-color: #ddd;

    position: absolute;
    bottom: 20%;

}

/* houver */

#btn_gowhats:hover{
    transform: translateY(-8px);
}

.midia_link:hover{
    transform: translateY(-4px);
}

.link_conteudo:hover{
    transform: translateY(-4px);
}

#txt_link_cont:hover{
    color: black;
}

#bntzap:hover {
    color: #003300;
    font-weight: bold;
}

#bntzap:hover::after {
    width: 100%;
}

.card:hover {
    transform: translateY(-6px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

#habilits .tags span:hover{
    transform: translateY(-4px);
}

.btn:hover {
    transform: translateY(-4px);
}

.links span:hover {
    transform: translateY(-4px);
    color: white;
}

#email:hover::after {
    width: 100%;
}

/* media quieres */

@media (max-width: 700px) {
    .footer{
        width: auto;
        padding: 8px;
        gap: 8px;
        display: grid;
        grid-template-columns: 1fr, 1fr;
    }
    .links{
        align-items: center;
    }
    #line_unline{
        display: none;
    }
    .section, .footer{
        height: auto;
        padding: 16px;
    }
}

@media (min-width: 700px) {
    .card{
        max-width: 900px;
        margin-left: 36px;
        margin-right: 36px;
    }
}

@media (min-width: 700px) {
    #habilits .grid{
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    max-width: 100%;
    }
}

@media (min-width: 700px) {
    #habilits .card{
        width: auto;
        max-width: 300px;
        padding: 40px 32px;
    }
}

@media (min-width: 700px) {
    #forme{
        height: auto;
        padding: 24px;
    }
}

@media (min-width: 700px) {
    #forme .grid{
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        gap: 30px;
        max-width: 1200px;
        margin: 0 auto;
    }
}

@media (min-width: 700px) {
    #forme .card{
        width: 1100px;
    }
}

@keyframes cascataDiagonal {
    0% {
        background-position: 100% 0%;
    }
    50% {
        background-position: 0% 100%;
    }
    100% {
        background-position: 100% 0%;
    }
}